.inputcont{
    position: absolute;
   display: flex;
   flex-direction: column;
   width: 350px;
height: 350px;

background: linear-gradient(90deg, rgba(240, 229, 229, 0.25) -0.61%, rgba(196, 195, 195, 0.25) 99.39%);
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px;
justify-content: center;
align-items: center;
margin-left: 37%;


}
#plemail{
    width: 250px;
height: 40px;
margin-bottom: 30px;
border-radius: 10px;
}
#plpass{
    width: 250px;
    height: 40px;
   
    margin-bottom: 30px;
border-radius: 10px;
}
#btnpllogin{
    width: 150px;
height: 25px;
border-radius: 10px;
}
h2{
    margin-bottom: 90px;
}
.textfield{
    width: 250px;
    height: 40px;
   
    margin-bottom: 30px;
border-radius: 10px;

}
button{
    width: 150px;
height: 25px;
border-radius: 10px;
}